<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<%#= link_to "Products in this category", category_products_path(@category.id) %>
<%= render 'products/mini_index' %>
