<br>
<h4>Here will the products matching category go.</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Logo</th>
      <th>Image</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td>$<%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= image_tag(product.logo) %></td>
        <td><%= image_tag(product.image) %></td>
        <!-- <td><%#= product.mod_name %></td> -->


        <!-- <td><#%= link_to( "Show", { action: 'show', id: product.id } ) %></td>

        <td><#%= link_to( 'Edit', { action: 'edit', id: product.id } ) %></td> -->

      </tr>
    <% end %>
    <!-- TODO create category page tab with product index  -->
    <!-- <a href="#portfolioModal1" data-toggle="modal" class="btn btn-primary">Search</i></a> -->
  </tbody>
</table>
